

#calculator{
    background-color: #222222;
    height: 300px;
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

#display{
    text-align: right;
    color: white;
    margin-right: 10px;
    font-size: 24pt;
}

button{
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    height: 40px;
    width: 40px;
}


.operator{
    background-color: orange;
}

#equals{
    width: 90%;
    margin: auto;
    border-radius: 20px;
}